@charset "utf-8";
/* CSS Document */

body {
    background:#000000;
    background-repeat: no-repeat;
    background-position: center;
	margin: 0px;
	font-family: karla;
	font-size:16px;
	line-height: 150%;
}

/*header*/
header h1{
	color:white;
	margin-top: -20px;
}

header h2{
	color:white;
}

/*title*/
header .one {
    width:1000px;
    margin: 0 40px;
    padding: 10px;
}

/*nav*/
header .two {
	display: inline-block;
	float: right;
	background-color: rgb(255,255,255);
	opacity:0.8;
}

header nav ul li {
    display:inline-block;
	padding: 0px 20px 0px 10px;
}

header a {
	color: #000000;
	text-decoration: none;
}

/*section*/
section {
	width: 90%;
	background-color: white;
	margin:auto;
	padding:20px;
	opacity:0.8;
}


img{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
}

	h3{
		color: #a49727;
	}


.week1 {
	background-color:#E5C9FE;
	padding:30px;
}

.week2 {
	background-color:#ebebeb;
	padding:30px;
}

footer{
	color:#ffffff;
	padding:30px;
}
